<h1>STG - Project</h1>
<h2>Note Directory</h2>

<br />
<div class="row text-center">
  <div class="col-12 col-sm">
    <%= link_to 'Log In', new_user_session_path, class: 'nav-link' %>
  </div>

  <div class="col-12 col-sm">
    <%= link_to 'My Dashboard', dashboard_path, class: 'nav-link' %>
  </div>

  <div class="col-12 col-sm">
    <%= link_to 'sign up', new_user_path, class: 'nav-link' %>
  </div>
</div>