
<h1 class="title">[Company Name]</h1>
<h2 class="title">[App Name]</h2>
<br />
<br />

 

  <div class="loginform title">
  
    <%= simple_form_for(:user,  url: session_path(:user)) do |f| %>
      <div class="form-inputs form-inline">
        <%= f.input :email,
                  label: false,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: 'yes' } %>


        <%= f.input :password,
                  label: false,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in" %>
      </div>
    <% end %>

  </div>
