<%= @clients.clientname %> Show Page
<br />
<%= link_to "Create a Section", new_infosheetmod_client_section_path(@clients) %>
<br />
-list sections
<br />

<div>
<ul class="list-group" id="list1">
</ul>
</div>

<script>
$(function show_link_list() {

  $.get('/infosheetmod/clients/'+ '<%= @clients.id %>' + '/sections').success( function( data ) {
    $.each(data, function(index, section) {
                // Create anchor element. 
                var a = document.createElement('a');  
                var ulist = document.getElementById('list1');
                var newItem = document.createElement('li');

                a.textContent = section.title;
                a.setAttribute('href', '/infosheetmod/sections/' + section.id );
                newItem.appendChild(a);
                ulist.appendChild(newItem); 
    });
  });

});
</script>